{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Page</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

    <div class="main-content">
        <form action="" method="post">
            {% csrf_token %}
            {% if page == 'signup' %}
            <h2>Register</h2>
            {{ form.as_p }}
            <div>
                <button type="submit">Register</button>
            </div>
            <div>
                <p>Already Have An Account? <a href="{% url 'login' %}">Login Here</a></p>
            </div>
            {% else %}
            <h2>Login to your Account</h2>
            <div>
                <label for="username">Username: </label>
                <input type="text" name="username" class="form-control" placeholder="Username...">
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" class="form-control" placeholder="Password...">
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
            <div>
                <p>Don't Have An Account? <a href="{% url 'signup' %}">Register Here</a></p>
            </div>
            {% endif %}
        </form>
    </div>

</body>

</html>