<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <form action="{% url 'signout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </header>
    <div>
        <h1>Home</h1>
        <hr>
        <div>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Add Event</button>
                </form>
            </div>
            <hr>
            <div>
                {% for event in events %}
                    <a href="" style="text-decoration: none;">
                        <div>
                            <p>{{event.title}}</p>
                            <p>{{event.description}}</p>
                            {% if event.completed == True %}
                                <h3>Completed</h3>    
                            {% else %}
                                <h3>Note Completed</h3>
                            {% endif %}
                        </div>
                    </a>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>